.brands {
  padding: 60px 5%;
  background: #eef5ef;
  
}

.brands h1 {
  color: #1f5d24;
  font-size: 3rem;
}

.brands hr {
 width: 120px;
  height: 6px;
  border-radius: 10px;
  background: #4caf50;
  border: none;
  margin: 10px 0 0 0;
  opacity: 1;
}

.brand-slider {
  overflow: hidden;
  width: 100%;
  margin-top: 100px;
}

.brand-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.logo-box {
  width: 220px;
  height: 120px;
  background: white;
  margin: 0 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.logo-box img {
  max-width: 150px;
  max-height: 80px;
  object-fit: contain;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}